*{
 margin: 0;
 padding: 0;
}


header{
	background: #2E4057;
	padding: 50px;
}

h1{
	color: #CAFFB9;
	margin: 15px;
	margin-bottom: 20px;

}

a{
	color: #CAFFB9;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 20px;
	border: 1px solid #CAFFB9;
	

}

a:hover{
	color: #A3D0A1;
	font-size: 15px;
	transition: 0.5s;
}


body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	background: #CAFFB9;
}

img{
	width: 350px;
}

h2{
	color: #2E4057;
	border-bottom: 5px double #808080;
	padding-top: 20px;
	border-bottom: 5px #808080;
	margin-bottom:  5px;
}

p{
	margin: 2px;
	color: #2E4057;
}

ul{
	padding-left: 30px;
	list-style: inside;
}

li{
	padding-bottom:  5px;
}

footer{
	background: #2E4057;
	text-align:right;
}

