*{
	margin:  0;
	padding: 0;
}
.wrapper{
	width: 968px;
	margin: 0 auto;
}

header{
	background-color: #4A314D;
	display: flex;
	justify-content: center;
}

h2{
	color:  #6B6570;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a{
	color: #A8BA9A;
	padding: 5px;
	border: 1px dotted #A8BA9A;
	text-decoration: none;
	background-color: #6B6570;
	margin: 20px;
}

img{
	width: 50px;
}	

.logo-name{
	display: flex;
	align-items: center;
}