*{ 
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
}

h1 { 
    font-size:  25px;
}

nav {
    display: flex;
    justify-content: center;
    width: 70%; 
    border: 1px solid black
}